body{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100%;
    height: 100%;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}



figure{
    margin: 0;

}

img{
    height: 100%

}

.one{
    grid-area: 1 / 1 / 9 / 6;

 
}

.two{
    grid-area: 7 / 17 / 11 / 19; 


}

.three{
    grid-area: 11 / 16 / 21 / 21; }


.four{
    grid-area: 1 / 17 / 7 / 21;

}

.five{
    grid-area: 13 / 8 / 21 / 12; 


}

.six{
    grid-area: 9 / 12 / 13 / 14;

}

.seven{
    grid-area: 9 / 15 / 11 / 16;

}

.eight{
    grid-area: 6 / 8 / 13 / 12;

}

.nine{
    grid-area: 5 / 6 / 9 / 8; 

}

.ten{
    grid-area: 7 / 19 / 11 / 21;

}

.eleven{
    grid-area: 9 / 1 / 21 / 8

}

.twelve{
    grid-area: 11 / 14 / 13 / 15; 

}

.thirteen{
    grid-area: 19 / 12 / 21 / 13;


}

.fourteen{
    grid-area: 13 / 12 / 21 / 16; 

}

.fifteen{
    grid-area: 1 / 9 / 6 / 12; 
}

.sixteen{
    grid-area: 1 / 12 / 9 / 17; 

}

.seventeen{
    grid-area: 11 / 15 / 13 / 16;

}

.eighteen{
    grid-area: 9 / 14 / 11 / 15;
}

.nineteen{
    grid-area: 1 / 6 / 6 / 9; 

}

.twenty{
    grid-area: 9 / 16 / 11 / 17;

}

img{
    display: block;
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

img:hover{
    transform: scale(110%);
    filter: none;
}


